<div class="container__content">

    <div class="content__cover">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQETznwndX3Mbw/profile-displayphoto-shrink_800_800/B4DZUy4ZH.GkAc-/0/1740315399251?e=1747872000&v=beta&t=nCB0un2jiISNxC5OcQIf_REBKLx-X2GOhclxBW1U-IA" 
      alt="">
    </div>
  
    <div class="content__title">
      <h1>Isabelle Braz</h1>
      
    </div>
  
    <div class="content__description">
      <p>Me chamo Isabelle Braz, mas todos me chamam de Braz. Sou natural de Recife,
         mas atualmente moro em Olinda. Desde que me entendo sempre fui apaixonada por 
         computadores e tecnologia no geral. 
        Com formação técnica pelo Senac e Senai. Minha trajetória inclui experiências 
        anteriores em suporte técnico, diagnosticos complexos e atendimento técnico ao publico. 
        No momento estou iniciando um técnologo em Analise e Desenvolvimento de Sistemas na Descomplica.
        <br>
        <br>
        Trabalhei como Backoffice com o produto NET Serviços|Claro, dando baixa em Ordens de Serviços, 
        correção, abertura de chamados mais complexos e parametrização de contrato para restabelecimento do 
        sinal e funcionamento de canais na residência do cliente.  E na minha ultima experiência profissional, 
        trabalhei como analista técnico em uma assistência autorizada da Apple, com experiência em manutenções no
         geral, gestão de produtos, recebimento e envio de mercadorias, atendimento técnico ao publico. 
        </p>
        <a [routerLink]="['']"> << VOLTAR</a>
    </div>
  
  </div>