<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://d3pbkubkud8ly4.cloudfront.net/courses/thumbnails/000/000/274/large/electro-house-2016.jpg?1456251254" 
            alt="" 
            height="300px"
            width="500px"
            srcset="">

    </div>
    <div class="big-card__title">
        <h1> <a href="#">Eurodance e seus anos de ouro</a></h1>
    </div>

    <div class="big-card__descripition">
        <p><a href="#"> Ah, Eurodance! Um gênero musical vibrante e cheio de energia 
            que dominou as pistas de dança, especialmente nos anos 90. Caracteriza-se por 
            batidas rápidas, melodias cativantes, e vocais que frequentemente alternam entre 
            canto melódico e trechos de rap. É uma fusão marcante de techno, house e Hi-NRG, com uma pegada pop.
          </a>  
        </p>
    </div>
</div>