<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://i.ibb.co/gDXSL55/Martin-garrix-fotos-2.jpg" 
                alt="" 
                height="200px"
                width="300px"
                srcset="">
    
        </div>
        <div class="small-card__title">
            <h1>
                <a href="#" >O título de melhor DJ do mundo em 2024, segundo o ranking da DJ Mag, foi conquistado por Martin Garrix.</a>
            </h1>
        </div>
    </div>

    <div class="container__small-card__separator ">
        <hr>
    </div>
</div>