<header>
    <app-menu-bar></app-menu-bar>
  </header>
  
  <app-menu-title></app-menu-title>
  
  <div class="container__articles">
      <div class="articles__main">
          <app-big-card
          contentId="1"
          photoCover="#"
          cardTitle=""
          cardDescription=""
          ></app-big-card>
          
      </div>
  
      <div class="articles__others">
        <app-small-card
        contentId="2"
        photoCover="#"
        cardTitle=""
        ></app-small-card>
        <app-small-card
        contentId="3"
        photoCover="#"
        cardTitle=""
        ></app-small-card>  
        <app-small-card
        contentId="4"
        photoCover="#"
        cardTitle=""
        ></app-small-card>  
      </div>
  </div>
  <h1>NOVIDADES</h1>
  <hr>
  <div class="container__articles">
    <div class="articles__main">
        <app-big-card
        contentId="1"
        photoCover="#"
        cardTitle=""
        cardDescription=""
        ></app-big-card>
        
    </div>

    <div class="articles__others">
      <app-small-card
      contentId="2"
      photoCover="#"
      cardTitle=""
      ></app-small-card>
      <app-small-card
      contentId="3"
      photoCover="#"
      cardTitle=""
      ></app-small-card>  
      <app-small-card
      contentId="4"
      photoCover="#"
      cardTitle=""
      ></app-small-card>  
    </div>