
  
  <app-menu-title></app-menu-title>
  
  <div class="container__articles">
      <div class="articles__main">
          <app-big-card
          contentId="1"
          photoCover="https://d3pbkubkud8ly4.cloudfront.net/courses/thumbnails/000/000/274/large/electro-house-2016.jpg?1456251254"
          cardTitle="Eurodance e seus anos de ouro"
          cardDescription="Ah, Eurodance! Um gênero musical vibrante e cheio de energia que 
          dominou as pistas de dança, especialmente nos anos 90. Caracteriza-se por batidas 
          rápidas, melodias cativantes, e vocais que frequentemente alternam entre canto melódico
           e trechos de rap. É uma fusão marcante de techno, house e Hi-NRG, com uma pegada pop."
          ></app-big-card>
          
      </div>
  
      <div class="articles__others">
        <app-small-card
        contentId="2"
        photoCover="https://i.ibb.co/gDXSL55/Martin-garrix-fotos-2.jpg"
        cardTitle="O título de melhor DJ do mundo em 2024, segundo o ranking da DJ Mag, foi conquistado por Martin Garrix."
        ></app-small-card>
        <app-small-card
        contentId="3"
        photoCover="https://th.bing.com/th/id/OIP.YbiIqfpENIkmxdb9DDvQ7wHaE8?rs=1&pid=ImgDetMain"
        cardTitle="David Guetta, um dos maiores nomes da música eletrônica, continua a dominar as pistas de dança e as paradas musicais.
         Recentemente, ele lançou o single Beautiful People em colaboração com Sia, marcando mais um sucesso na parceria entre os dois artistas."
        ></app-small-card>  
        <app-small-card
        contentId="4"
        photoCover="https://th.bing.com/th/id/OIP.VyeKvY5BUIdNZFegto4AQAHaEn?rs=1&pid=ImgDetMain"
        cardTitle="A música eletrônica tem suas raízes no final do século XIX e início do século XX, 
        quando os primeiros instrumentos eletrônicos começaram a ser desenvolvidos. Um marco inicial 
        foi o Telharmonium, criado em 1896, que usava correntes elétricas para produzir sons musicais."
        ></app-small-card>  
      </div>
  </div>
  <h1>NOVIDADES</h1>
  <hr>
  <div class="container__articles">
      <div class="articles__main">
          <app-big-card
          contentId="5"
          photoCover="https://pipocamoderna.com.br/storage/2025/02/Lady-Gaga-Abracadabra-800x497.jpg"
          cardTitle="Lady Gaga e seu álbum Mayhem"
          cardDescription="Recentemente, ela lançou o álbum Mayhem, que inclui músicas como Electric Dreams e Neon Heartbeat, 
          ambas com fortes influências de música eletrônica e uma pegada futurista. Essas faixas mostram como Gaga continua a inovar 
          e explorar novos territórios dentro do gênero."
          ></app-big-card>
          
      </div>
  
      <div class="articles__others">
        <app-small-card
        contentId="6"
        photoCover="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/64/e2/ef/caption.jpg?w=1200&h=-1&s=1"
        cardTitle="O festival acontecerá em dois finais de semana, de 18 a 20 de julho e de 25 a 27 de julho, 
        em Boom, na Bélgica. O tema deste ano é Orbyz, um universo mágico feito de gelo e criaturas míticas. 
        Mais de 600 artistas se apresentarão em 16 palcos, incluindo nomes como Martin Garrix, David Guetta, 
        Charlotte de Witte, Swedish House Mafia e muitos outros"
        ></app-small-card>
        <app-small-card
        contentId="7"
        photoCover="https://th.bing.com/th/id/OIP.rmbS2xg7KhpBxPdK2eu8LQHaE7?rs=1&pid=ImgDetMain"
        cardTitle="Para os fãs brasileiros, o festival retorna a Itu, São Paulo, de 10 a 12 de outubro de 2025.
         É uma oportunidade incrível para vivenciar a magia do Tomorrowland sem sair do país"
        ></app-small-card>  
        <app-small-card
        contentId="8"
        photoCover="https://midnightdancemusic.com/wp-content/uploads/2025/03/tomorrowland-winter-2025.webp"
        cardTitle="A edição de inverno será realizada de 15 a 22 de março de 2025, nas montanhas de Alpe d'Huez, França. 
        Uma combinação de música eletrônica e esportes de inverno"
        ></app-small-card>  
      </div>