<div class="container__menu-bar">
    <ul>
      <li><a
        href="https://www.linkedin.com/in/isabelle-braz/"
        target="_blank"
        >Linkedin</a></li>
        <li><span>▪</span></li>
      <li><a
        href="https://github.com/pibraz"
        target="_blank">Github</a></li>
        <li><span>▪</span></li>
      <li><a href="#">Instagram</a></li>
      <li><span>▪</span></li>
      <li><a href="#">Quem sou eu</a></li>
      <li><span>▪</span></li>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
